<div class="lc ">

<div class="g-2up">
<div class="gi">
<p class="usa-font-lead">Lead paragraph</p>
</div>
<div class="gi">
<p>font-family: 'Merriweather'
<br>font-weight: 400
<br>font-size: 20px
<br>line-height: 1.7em/34px</p>
</div>
</div>

<div class="g-2up">
<div class="gi">
<p>Body copy. A series of sentences together which make a paragraph.</p>
<p>A paragraph (from the Greek paragraphos, "to write beside" or "written beside") is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
</div>
<div class="gi">
<p>font-family: 'Source Sans Pro'
<br>font-weight: 400
<br>font-size: 17px
<br>line-height: 1.5em/26px</p>
</div>
</div>
<div class="g-2up">
<div class="gi">
<p><em>Italic body copy. A series of sentences together which make a paragraph.</em></p>
</div>
<div class="gi">
<p>font-family: 'Source Sans Pro'
<br>font-style: Italic
<br>font-weight: 400
<br>font-size: 17px
<br>line-height: 1.5em/26px</p>
</div>
</div>

</div>