&lt;div class=&quot;lc &quot;&gt;

&lt;!-- &lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ff0000;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ff0000&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00ff00;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00ff00&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #0000ff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0000ff&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffff00;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffff00&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00ffff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00ffff&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ff00ff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ff00ff&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffffff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffffff&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #808080;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#808080&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000000;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#000000&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt; --&gt;

&lt;h2 class=&quot;usa-heading&quot; id=&quot;colors&quot;&gt;Colors&lt;/h2&gt;

&lt;p&gt;A flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.&lt;/p&gt;


&lt;h3 class=&quot;usa-heading&quot; id=&quot;palette&quot;&gt;Palette&lt;/h3&gt;

&lt;p&gt;This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors &mdash; combined with clear hierarchy, good information design, and ample white space &mdash; should leave users feeling welcomed and in good hands.&lt;/p&gt;

&lt;p&gt;This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas &quot;pop&quot; on the page.&lt;/p&gt;

&lt;h4&gt;Primary colors&lt;/h4&gt;
&lt;p&gt;This palette&rsquo;s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_primary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary&quot; style=&quot;background: #0071bc;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#0071bc&lt;br&gt;primary&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary_darker&quot; style=&quot;background: #205493;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#205493&lt;br&gt;primary-darker&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary_darkest&quot; style=&quot;background: #112e51;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#112e51&lt;br&gt;primary-darkest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;ul class=&quot;sg-colors colors_primary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary_base&quot; style=&quot;background: #212121;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#212121&lt;br&gt;base&lt;/span&gt;
	&lt;/li&gt;
    &lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary_gray-dark&quot; style=&quot;background: #323a45;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#323a45&lt;br&gt;gray-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary_gray-light&quot; style=&quot;background: #aeb0b5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#aeb0b5&lt;br&gt;gray-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch white&quot; style=&quot;background: #ffffff&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffffff&lt;br&gt;white&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;h4&gt;Secondary colors&lt;/h4&gt;
&lt;p&gt;These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_secondary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt&quot; style=&quot;background: #02bfe7;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#02bfe7&lt;br&gt;primary-alt&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-darkest&quot; style=&quot;background: #046b99;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#046b99&lt;br&gt;primary-alt-darkest&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-dark&quot; style=&quot;background: #00a6d2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00a6d2&lt;br&gt;primary-alt-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-light&quot; style=&quot;background: #9bdaf1;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#9bdaf1&lt;br&gt;primary-alt-light&lt;/span&gt;
	&lt;/li&gt;
    &lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-lightest&quot; style=&quot;background: #e1f3f8;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e1f3f8&lt;br&gt;primary-alt-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_secondary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt&quot; style=&quot;background: #e31c3d;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e31c3d&lt;br&gt;secondary&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-darkest&quot; style=&quot;background: #981b1e;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#981b1e&lt;br&gt;secondary-darkest&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-dark&quot; style=&quot;background: #cd2026;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#cd2026&lt;br&gt;secondary-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-light&quot; style=&quot;background: #e59393;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e59393&lt;br&gt;secondary-light&lt;/span&gt;
	&lt;/li&gt;
    &lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-lightest&quot; style=&quot;background: #f9dede;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f9dede&lt;br&gt;secondary-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;h4&gt;Background colors&lt;/h4&gt;
&lt;p&gt;These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_secondary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-dark&quot; style=&quot;background: #323a45;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#323a45&lt;br&gt;gray-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray&quot; style=&quot;background: #5b616b;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#5b616b&lt;br&gt;gray&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-light&quot; style=&quot;background: #aeb0b5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#aeb0b5&lt;br&gt;gray-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-lighter&quot; style=&quot;background: #d6d7d9;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#d6d7d9&lt;br&gt;gray-lighter&lt;/span&gt;
	&lt;/li&gt;
    &lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch primary-alt-lightest&quot; style=&quot;background: #f1f1f1;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f1f1f1&lt;br&gt;gray-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_secondary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-warm-dark&quot; style=&quot;background: #494440;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#494440&lt;br&gt;gray-warm-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-warm-light&quot; style=&quot;background: #e4e2e0;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e4e2e0&lt;br&gt;gray-warm-light&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_secondary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_primary-darkest&quot; style=&quot;background: #112e51;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#494440&lt;br&gt;primary-darkest&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch bg_gray-cool-light&quot; style=&quot;background: #dce4ef;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#dce4ef&lt;br&gt;gray-cool-light&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;h4&gt;Tertiary colors&lt;/h4&gt;
&lt;p&gt;These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_tertiary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch gold&quot; style=&quot;background: #fdb81e;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#fdb81e&lt;br&gt;gold&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch gold-light&quot; style=&quot;background: #f9c642;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f9c642&lt;br&gt;gold-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch gold-lighter&quot; style=&quot;background: #fad980;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#fad980&lt;br&gt;gold-lighter&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch gold-lightest&quot; style=&quot;background: #fff1d2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#fff1d2&lt;br&gt;gold-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_tertiary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch green&quot; style=&quot;background: #2e8540;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#2e8540&lt;br&gt;green&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch green-light&quot; style=&quot;background: #4aa564;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#4aa564&lt;br&gt;green-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch green-lighter&quot; style=&quot;background: #94bfa2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#94bfa2&lt;br&gt;green-lighter&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch green-lightest&quot; style=&quot;background: #e7f4e4;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e7f4e4&lt;br&gt;green-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;ul class=&quot;sg-colors colors_tertiary&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch cool-blue&quot; style=&quot;background: #205493;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#205493&lt;br&gt;cool-blue&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch cool-blue-light&quot; style=&quot;background: #4773aa;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#4773aa&lt;br&gt;cool-blue-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch cool-blue-lighter&quot; style=&quot;background: #8ba6ca;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#8ba6ca&lt;br&gt;cool-blue-lighter&lt;/span&gt;
	&lt;/li&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch cool-blue-lightest&quot; style=&quot;background: #dce4ef;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#dce4ef&lt;br&gt;cool-blue-lightest&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;h4&gt;Special state colors&lt;/h4&gt;
&lt;ul class=&quot;sg-colors colors_state&quot;&gt;
	&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch focus&quot; style=&quot;background: #3e94cf;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#3e94cf&lt;br&gt;focus&lt;/span&gt;
	&lt;/li&gt;
		&lt;li style=&quot;width:12.5em;&quot;&gt;
		&lt;span class=&quot;sg-swatch visited&quot; style=&quot;background: #4c2c92;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#4c2c92&lt;br&gt;visited&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&amp;nbsp;&lt;/p&gt;

&lt;h3 class=&quot;usa-heading&quot; id=&quot;text-accessibility&quot;&gt;Text Accessibility&lt;/h3&gt;

&lt;p&gt;WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of at least 4.5:1. This ensures that viewers who cannot see the full color spectrum are able to read the text.&lt;/p&gt;

&lt;p&gt;The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.&lt;/p&gt;

&lt;p&gt;If you choose to customize beyond this palette, this color contrast tool is a useful resource for testing the compliance of any color combination.&lt;/p&gt;

&lt;h4&gt;Fully accessible combinations&lt;/h4&gt;

&lt;div class=&quot;usa-grid-full usa-color-outline g-3up&quot;&gt;

&lt;h5 style=&quot;float: left; width: 100%; margin: 1em 0 1em&quot;&gt;Colors on a white background&lt;/strong&gt;&lt;/h5&gt;

  &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-primary-darkest&quot;&gt;
      primary-darkest on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-primary-darker&quot;&gt;
      primary-darker on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-primary&quot;&gt;
      primary on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-cool-blue-light&quot;&gt;
      cool-blue-light on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-primary-alt-darkest&quot;&gt;
      primary-alt-darkest on white
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-green&quot;&gt;
      green on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-gray-dark&quot;&gt;
      base on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-gray-dark&quot;&gt;
      gray-dark on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-gray&quot;&gt;
      gray on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-gray-warm-dark&quot;&gt;
      gray-warm-dark on white
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;usa-width-one-half usa-end-row gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-visited&quot;&gt;
      visited on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-secondary-darkest&quot;&gt;
      secondary-darkest on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-secondary-dark&quot;&gt;
      secondary-dark on white
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-text-secondary&quot;&gt;
      secondary on white
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;usa-grid-full usa-color-outline g-3up&quot;&gt;

&lt;h5 style=&quot;float: left; width: 100%; margin: 1em 0 1em&quot;&gt;&lt;strong&gt;Neutrals on a colored background&lt;/strong&gt;&lt;/h5&gt;

  &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-base usa-color-text-white&quot;&gt;
      white on base
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-warm-dark usa-color-text-white&quot;&gt;
      white on gray-warm-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-dark usa-color-text-white&quot;&gt;
      white on gray-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray usa-color-text-white&quot;&gt;
      white on gray
    &lt;/div&gt;
  &lt;/div&gt;

 &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-darkest usa-color-text-white&quot;&gt;
      white on primary-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-darker usa-color-text-white&quot;&gt;
      white on primary-darker
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary usa-color-text-white&quot;&gt;
      white on primary
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-cool-blue-light usa-color-text-white&quot;&gt;
      white on cool-blue-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt-darkest usa-color-text-white&quot;&gt;
      white on primary-alt-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt-dark&quot;&gt;
      base on primary-alt-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt&quot;&gt;
      base on primary-alt
    &lt;/div&gt;
  &lt;/div&gt;

 &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-green usa-color-text-white&quot;&gt;
      white on green
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-green-light&quot;&gt;
      base on green-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold&quot;&gt;
      base on gold
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold-light&quot;&gt;
      base on gold-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary-darkest usa-color-text-white&quot;&gt;
      white on secondary-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary-dark usa-color-text-white&quot;&gt;
      white on secondary-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary usa-color-text-white&quot;&gt;
      white on secondary
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- 
&lt;div class=&quot;usa-grid-full g-half&quot;&gt;
  &lt;div class=&quot;usa-width-one-half gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-base usa-color-text-white&quot;&gt;
      white on base
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-warm-dark usa-color-text-white&quot;&gt;
      white on gray-warm-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-dark usa-color-text-white&quot;&gt;
      white on gray-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray usa-color-text-white&quot;&gt;
      white on gray
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-darkest usa-color-text-white&quot;&gt;
      white on primary-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-darker usa-color-text-white&quot;&gt;
      white on primary-darker
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary usa-color-text-white&quot;&gt;
      white on primary
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-cool-blue-light usa-color-text-white&quot;&gt;
      white on cool-blue-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt-darkest usa-color-text-white&quot;&gt;
      white on primary-alt-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt-dark&quot;&gt;
      base on primary-alt-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt&quot;&gt;
      base on primary-alt
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-green usa-color-text-white&quot;&gt;
      white on green
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-green-light&quot;&gt;
      base on green-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold&quot;&gt;
      base on gold
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold-light&quot;&gt;
      base on gold-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary-darkest usa-color-text-white&quot;&gt;
      white on secondary-darkest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary-dark usa-color-text-white&quot;&gt;
      white on secondary-dark
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary usa-color-text-white&quot;&gt;
      white on secondary
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;usa-width-one-half usa-end-row gi&quot;&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-light&quot;&gt;
      base on gray-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-lighter&quot;&gt;
      base on gray-lighter
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gray-warm-light&quot;&gt;
      base on gray-warm-light
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-cool-blue-lighter&quot;&gt;
      base on cool-blue-lighter
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-cool-blue-lightest&quot;&gt;
      base on cool-blue-lightest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-primary-alt-lightest&quot;&gt;
      base on primary-alt-lightest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-green-lighter&quot;&gt;
      base on green-lighter
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-green-lightest&quot;&gt;
      base on green-lightest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold-lighter&quot;&gt;
      base on gold-lighter
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-gold-lightest&quot;&gt;
      base on gold-lightest
    &lt;/div&gt;
    &lt;div class=&quot;usa-color-text usa-color-secondary-lightest&quot;&gt;
      base on secondary-lightest
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

 --&gt;

 &lt;/div&gt;

























