&lt;!--
&lt;p&gt;Primary font: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold: Georgia, Times, &quot;Times New Roman&quot;, serif;&lt;/strong&gt;&lt;/p&gt;
--&gt;

&lt;div class=&quot;lc&quot; &gt;
&lt;h3 class=&quot;usa-heading&quot; id=&quot;typefaces&quot;&gt;Typefaces&lt;/h3&gt;
&lt;div class=&quot;g-2up&quot;&gt;
&lt;div class=&quot;gi&quot;&gt;
&lt;h4 class=&quot;usa-heading-alt&quot;&gt;Source Sans Pro&lt;/h4&gt;
&lt;p&gt;Source Sans Pro is an open-source sans serif typeface created for legibility in UI design. With a variety of weights that read easily at all sizes, Source Sans Pro provides clear headers as well as highly-readable body text.&lt;/p&gt;
&lt;p&gt;Inspired by twentieth-century American gothic typeface design, its slender but open letters offer a clean and friendly simplicity. Advanced hinting allows Source Sans Pro to render well on Windows systems which run Cleartype, and across browsers and devices. Moreover, it supports a variety of languages and alphabets, including Western and European language, Vietnamese, pinyin Romanization of Chinese, and Navajo.&lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;gi&quot;&gt;
&lt;div class=&quot;typography-sans-intro&quot;&gt;
    &lt;span class=&quot;text-huge&quot;&gt;Aa&lt;/span&gt;
    &lt;div&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;A B C D E F G H I J K L M N O P Q R S T U V W X Y Z&lt;/p&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;a b c d e f g h i j k l m n o p q r s t u v w x y z&lt;/p&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;0 1 2 3 4 5 6 7 8 9&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;p&gt;Primary font: &quot;Source Sans Pro&quot;, Helvetica, Arial, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: &quot;Source Sans Pro&quot;, Helvetica, Arial, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: &quot;Source Sans Pro&quot;, Helvetica, Arial, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;g-2up&quot;&gt;
&lt;div class=&quot;gi&quot;&gt;
&lt;h4 class=&quot;usa-heading-alt&quot;&gt;Merriweather&lt;/h4&gt;
&lt;p&gt;Merriweather is an open-source serif typeface designed for on-screen reading. This font is ideal for text-dense design: the letterforms have a tall x-height but remain relatively small, making for excellent readability across screen sizes while not occupying extra horizontal space.&lt;/p&gt;
&lt;p&gt;The combination of slim and thick weights gives the font family stylistic range, while conveying a desirable mix of classic, yet modern simplicity. Merriweather communicates warmth and credibility at both large and smaller font sizes.&lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;gi&quot;&gt;
&lt;div class=&quot;typography-serif-intro&quot;&gt;
    &lt;span class=&quot;text-huge&quot;&gt;Aa&lt;/span&gt;
    &lt;div&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;A B C D E F G H I J K L M N O P Q R S T U V W X Y Z&lt;/p&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;a b c d e f g h i j k l m n o p q r s t u v w x y z&lt;/p&gt;
      &lt;p class=&quot;text-tiny&quot;&gt;0 1 2 3 4 5 6 7 8 9&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: &quot;Merriweather&quot;, Georgia, Times New Roman, serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: &quot;Merriweather&quot;, Georgia, Times New Roman, serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold: &quot;Merriweather&quot;, Georgia, Times New Roman, serif;&lt;/strong&gt;&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;