<div class="logo" id="logo">
        <h1>
          <a href="{{ url }}" accesskey="1" title="Home" aria-label="Home">
          U.S. Web Design Standards</a>
        </h1>
      </div>

<!--
<a href="{{ url }}"><img src="../../images/logo.png" class="logo" alt="Logo Alt Text" /></a>
-->