<div class="lc ">

<!-- <ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ff0000;"></span>
		<span class="sg-label">#ff0000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ff00;"></span>
		<span class="sg-label">#00ff00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0000ff;"></span>
		<span class="sg-label">#0000ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffff00;"></span>
		<span class="sg-label">#ffff00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ffff;"></span>
		<span class="sg-label">#00ffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00ff;"></span>
		<span class="sg-label">#ff00ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul> -->

<h2 class="usa-heading" id="colors">Colors</h2>

<p>A flexible, yet distinctly American palette designed to communicate warmth and trustworthiness while meeting the highest standards of 508 color contrast requirements.</p>


<h3 class="usa-heading" id="palette">Palette</h3>

<p>This palette is designed to support a range of distinct visual styles that continue to feel connected. The intent of the palette is to convey a warm and open American spirit, with bright saturated tints of blue and red, grounded in sophisticated deeper shades of cool blues and grays. These colors — combined with clear hierarchy, good information design, and ample white space — should leave users feeling welcomed and in good hands.</p>

<p>This is a simple, minimalist color palette. Shades of blue dominate, providing a neutral backdrop on which brighter shades, clean type treatment, and bright white content areas "pop" on the page.</p>

<h4>Primary colors</h4>
<p>This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.</p>

<ul class="sg-colors colors_primary">
	<li style="width:12.5em;">
		<span class="sg-swatch primary" style="background: #0071bc;"></span>
		<span class="sg-label">#0071bc<br>primary</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary_darker" style="background: #205493;"></span>
		<span class="sg-label">#205493<br>primary-darker</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary_darkest" style="background: #112e51;"></span>
		<span class="sg-label">#112e51<br>primary-darkest</span>
	</li>
</ul>
<p>&nbsp;</p>
<ul class="sg-colors colors_primary">
	<li style="width:12.5em;">
		<span class="sg-swatch primary_base" style="background: #212121;"></span>
		<span class="sg-label">#212121<br>base</span>
	</li>
    <li style="width:12.5em;">
		<span class="sg-swatch primary_gray-dark" style="background: #323a45;"></span>
		<span class="sg-label">#323a45<br>gray-dark</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary_gray-light" style="background: #aeb0b5;"></span>
		<span class="sg-label">#aeb0b5<br>gray-light</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch white" style="background: #ffffff"></span>
		<span class="sg-label">#ffffff<br>white</span>
	</li>
</ul>
<p>&nbsp;</p>

<h4>Secondary colors</h4>
<p>These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.</p>

<ul class="sg-colors colors_secondary">
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt" style="background: #02bfe7;"></span>
		<span class="sg-label">#02bfe7<br>primary-alt</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-darkest" style="background: #046b99;"></span>
		<span class="sg-label">#046b99<br>primary-alt-darkest</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-dark" style="background: #00a6d2;"></span>
		<span class="sg-label">#00a6d2<br>primary-alt-dark</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-light" style="background: #9bdaf1;"></span>
		<span class="sg-label">#9bdaf1<br>primary-alt-light</span>
	</li>
    <li style="width:12.5em;">
		<span class="sg-swatch primary-alt-lightest" style="background: #e1f3f8;"></span>
		<span class="sg-label">#e1f3f8<br>primary-alt-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<ul class="sg-colors colors_secondary">
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt" style="background: #e31c3d;"></span>
		<span class="sg-label">#e31c3d<br>secondary</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-darkest" style="background: #981b1e;"></span>
		<span class="sg-label">#981b1e<br>secondary-darkest</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-dark" style="background: #cd2026;"></span>
		<span class="sg-label">#cd2026<br>secondary-dark</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch primary-alt-light" style="background: #e59393;"></span>
		<span class="sg-label">#e59393<br>secondary-light</span>
	</li>
    <li style="width:12.5em;">
		<span class="sg-swatch primary-alt-lightest" style="background: #f9dede;"></span>
		<span class="sg-label">#f9dede<br>secondary-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<h4>Background colors</h4>
<p>These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.</p>

<ul class="sg-colors colors_secondary">
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-dark" style="background: #323a45;"></span>
		<span class="sg-label">#323a45<br>gray-dark</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray" style="background: #5b616b;"></span>
		<span class="sg-label">#5b616b<br>gray</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-light" style="background: #aeb0b5;"></span>
		<span class="sg-label">#aeb0b5<br>gray-light</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-lighter" style="background: #d6d7d9;"></span>
		<span class="sg-label">#d6d7d9<br>gray-lighter</span>
	</li>
    <li style="width:12.5em;">
		<span class="sg-swatch primary-alt-lightest" style="background: #f1f1f1;"></span>
		<span class="sg-label">#f1f1f1<br>gray-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<ul class="sg-colors colors_secondary">
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-warm-dark" style="background: #494440;"></span>
		<span class="sg-label">#494440<br>gray-warm-dark</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-warm-light" style="background: #e4e2e0;"></span>
		<span class="sg-label">#e4e2e0<br>gray-warm-light</span>
	</li>
</ul>
<p>&nbsp;</p>

<ul class="sg-colors colors_secondary">
	<li style="width:12.5em;">
		<span class="sg-swatch bg_primary-darkest" style="background: #112e51;"></span>
		<span class="sg-label">#494440<br>primary-darkest</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch bg_gray-cool-light" style="background: #dce4ef;"></span>
		<span class="sg-label">#dce4ef<br>gray-cool-light</span>
	</li>
</ul>
<p>&nbsp;</p>

<h4>Tertiary colors</h4>
<p>These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.</p>

<ul class="sg-colors colors_tertiary">
	<li style="width:12.5em;">
		<span class="sg-swatch gold" style="background: #fdb81e;"></span>
		<span class="sg-label">#fdb81e<br>gold</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch gold-light" style="background: #f9c642;"></span>
		<span class="sg-label">#f9c642<br>gold-light</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch gold-lighter" style="background: #fad980;"></span>
		<span class="sg-label">#fad980<br>gold-lighter</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch gold-lightest" style="background: #fff1d2;"></span>
		<span class="sg-label">#fff1d2<br>gold-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<ul class="sg-colors colors_tertiary">
	<li style="width:12.5em;">
		<span class="sg-swatch green" style="background: #2e8540;"></span>
		<span class="sg-label">#2e8540<br>green</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch green-light" style="background: #4aa564;"></span>
		<span class="sg-label">#4aa564<br>green-light</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch green-lighter" style="background: #94bfa2;"></span>
		<span class="sg-label">#94bfa2<br>green-lighter</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch green-lightest" style="background: #e7f4e4;"></span>
		<span class="sg-label">#e7f4e4<br>green-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<ul class="sg-colors colors_tertiary">
	<li style="width:12.5em;">
		<span class="sg-swatch cool-blue" style="background: #205493;"></span>
		<span class="sg-label">#205493<br>cool-blue</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch cool-blue-light" style="background: #4773aa;"></span>
		<span class="sg-label">#4773aa<br>cool-blue-light</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch cool-blue-lighter" style="background: #8ba6ca;"></span>
		<span class="sg-label">#8ba6ca<br>cool-blue-lighter</span>
	</li>
	<li style="width:12.5em;">
		<span class="sg-swatch cool-blue-lightest" style="background: #dce4ef;"></span>
		<span class="sg-label">#dce4ef<br>cool-blue-lightest</span>
	</li>
</ul>
<p>&nbsp;</p>

<h4>Special state colors</h4>
<ul class="sg-colors colors_state">
	<li style="width:12.5em;">
		<span class="sg-swatch focus" style="background: #3e94cf;"></span>
		<span class="sg-label">#3e94cf<br>focus</span>
	</li>
		<li style="width:12.5em;">
		<span class="sg-swatch visited" style="background: #4c2c92;"></span>
		<span class="sg-label">#4c2c92<br>visited</span>
	</li>
</ul>
<p>&nbsp;</p>

<h3 class="usa-heading" id="text-accessibility">Text Accessibility</h3>

<p>WCAG (Web Content Accessibility Guidelines) ensure that content is accessible by everyone, regardless of disability or user device. To meet these standards, text and interactive elements should have a color contrast ratio of at least 4.5:1. This ensures that viewers who cannot see the full color spectrum are able to read the text.</p>

<p>The options below offer color palette combinations that fall within the range of Section 508 compliant foreground/background color contrast ratios. To ensure that text remains accessible, use only these permitted color combinations.</p>

<p>If you choose to customize beyond this palette, this color contrast tool is a useful resource for testing the compliance of any color combination.</p>

<h4>Fully accessible combinations</h4>

<div class="usa-grid-full usa-color-outline g-3up">

<h5 style="float: left; width: 100%; margin: 1em 0 1em">Colors on a white background</strong></h5>

  <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-text-primary-darkest">
      primary-darkest on white
    </div>
    <div class="usa-color-text usa-color-text-primary-darker">
      primary-darker on white
    </div>
    <div class="usa-color-text usa-color-text-primary">
      primary on white
    </div>
    <div class="usa-color-text usa-color-text-cool-blue-light">
      cool-blue-light on white
    </div>
    <div class="usa-color-text usa-color-text-primary-alt-darkest">
      primary-alt-darkest on white
    </div>
  </div>

  <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-text-green">
      green on white
    </div>
    <div class="usa-color-text usa-color-text-gray-dark">
      base on white
    </div>
    <div class="usa-color-text usa-color-text-gray-dark">
      gray-dark on white
    </div>
    <div class="usa-color-text usa-color-text-gray">
      gray on white
    </div>
    <div class="usa-color-text usa-color-text-gray-warm-dark">
      gray-warm-dark on white
    </div>
  </div>

  <div class="usa-width-one-half usa-end-row gi">
    <div class="usa-color-text usa-color-text-visited">
      visited on white
    </div>
    <div class="usa-color-text usa-color-text-secondary-darkest">
      secondary-darkest on white
    </div>
    <div class="usa-color-text usa-color-text-secondary-dark">
      secondary-dark on white
    </div>
    <div class="usa-color-text usa-color-text-secondary">
      secondary on white
    </div>
  </div>
</div>

<div class="usa-grid-full usa-color-outline g-3up">

<h5 style="float: left; width: 100%; margin: 1em 0 1em"><strong>Neutrals on a colored background</strong></h5>

  <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-base usa-color-text-white">
      white on base
    </div>
    <div class="usa-color-text usa-color-gray-warm-dark usa-color-text-white">
      white on gray-warm-dark
    </div>
    <div class="usa-color-text usa-color-gray-dark usa-color-text-white">
      white on gray-dark
    </div>
    <div class="usa-color-text usa-color-gray usa-color-text-white">
      white on gray
    </div>
  </div>

 <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-primary-darkest usa-color-text-white">
      white on primary-darkest
    </div>
    <div class="usa-color-text usa-color-primary-darker usa-color-text-white">
      white on primary-darker
    </div>
    <div class="usa-color-text usa-color-primary usa-color-text-white">
      white on primary
    </div>
    <div class="usa-color-text usa-color-cool-blue-light usa-color-text-white">
      white on cool-blue-light
    </div>
    <div class="usa-color-text usa-color-primary-alt-darkest usa-color-text-white">
      white on primary-alt-darkest
    </div>
    <div class="usa-color-text usa-color-primary-alt-dark">
      base on primary-alt-dark
    </div>
    <div class="usa-color-text usa-color-primary-alt">
      base on primary-alt
    </div>
  </div>

 <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-green usa-color-text-white">
      white on green
    </div>
    <div class="usa-color-text usa-color-green-light">
      base on green-light
    </div>
    <div class="usa-color-text usa-color-gold">
      base on gold
    </div>
    <div class="usa-color-text usa-color-gold-light">
      base on gold-light
    </div>
    <div class="usa-color-text usa-color-secondary-darkest usa-color-text-white">
      white on secondary-darkest
    </div>
    <div class="usa-color-text usa-color-secondary-dark usa-color-text-white">
      white on secondary-dark
    </div>
    <div class="usa-color-text usa-color-secondary usa-color-text-white">
      white on secondary
    </div>
  </div>
</div>
<!-- 
<div class="usa-grid-full g-half">
  <div class="usa-width-one-half gi">
    <div class="usa-color-text usa-color-base usa-color-text-white">
      white on base
    </div>
    <div class="usa-color-text usa-color-gray-warm-dark usa-color-text-white">
      white on gray-warm-dark
    </div>
    <div class="usa-color-text usa-color-gray-dark usa-color-text-white">
      white on gray-dark
    </div>
    <div class="usa-color-text usa-color-gray usa-color-text-white">
      white on gray
    </div>
    <div class="usa-color-text usa-color-primary-darkest usa-color-text-white">
      white on primary-darkest
    </div>
    <div class="usa-color-text usa-color-primary-darker usa-color-text-white">
      white on primary-darker
    </div>
    <div class="usa-color-text usa-color-primary usa-color-text-white">
      white on primary
    </div>
    <div class="usa-color-text usa-color-cool-blue-light usa-color-text-white">
      white on cool-blue-light
    </div>
    <div class="usa-color-text usa-color-primary-alt-darkest usa-color-text-white">
      white on primary-alt-darkest
    </div>
    <div class="usa-color-text usa-color-primary-alt-dark">
      base on primary-alt-dark
    </div>
    <div class="usa-color-text usa-color-primary-alt">
      base on primary-alt
    </div>
    <div class="usa-color-text usa-color-green usa-color-text-white">
      white on green
    </div>
    <div class="usa-color-text usa-color-green-light">
      base on green-light
    </div>
    <div class="usa-color-text usa-color-gold">
      base on gold
    </div>
    <div class="usa-color-text usa-color-gold-light">
      base on gold-light
    </div>
    <div class="usa-color-text usa-color-secondary-darkest usa-color-text-white">
      white on secondary-darkest
    </div>
    <div class="usa-color-text usa-color-secondary-dark usa-color-text-white">
      white on secondary-dark
    </div>
    <div class="usa-color-text usa-color-secondary usa-color-text-white">
      white on secondary
    </div>
  </div>
  <div class="usa-width-one-half usa-end-row gi">
    <div class="usa-color-text usa-color-gray-light">
      base on gray-light
    </div>
    <div class="usa-color-text usa-color-gray-lighter">
      base on gray-lighter
    </div>
    <div class="usa-color-text usa-color-gray-warm-light">
      base on gray-warm-light
    </div>
    <div class="usa-color-text usa-color-cool-blue-lighter">
      base on cool-blue-lighter
    </div>
    <div class="usa-color-text usa-color-cool-blue-lightest">
      base on cool-blue-lightest
    </div>
    <div class="usa-color-text usa-color-primary-alt-lightest">
      base on primary-alt-lightest
    </div>
    <div class="usa-color-text usa-color-green-lighter">
      base on green-lighter
    </div>
    <div class="usa-color-text usa-color-green-lightest">
      base on green-lightest
    </div>
    <div class="usa-color-text usa-color-gold-lighter">
      base on gold-lighter
    </div>
    <div class="usa-color-text usa-color-gold-lightest">
      base on gold-lightest
    </div>
    <div class="usa-color-text usa-color-secondary-lightest">
      base on secondary-lightest
    </div>
  </div>
</div>

 -->

 </div>

























